@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 34px;
  }

  .heading h2 {
    font-size: 24px;
  }

  .lesson {
    width: 50%;
    margin-bottom: 55px;
  }
}

/* For Smartphones */
@media all and (max-width: 677px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 15px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 22px;
    line-height: 34px;
  }

  .top-wrapper p {
    font-size: 12px;
    line-height: 18px;
  }

  .lesson {
    width: 100%;
  }

  footer {
    text-align: center;
  }
} 
